@media screen and (max-width: 480px) { /*768*/
    
    .menu-navegacao {
        display: none;
    }

    .menu-sanduiche {
        display: block;
        width: 40px;
        position: absolute;
        padding: 24px;
        margin-left: 376px;
    }

    .display-menu-mobile {
        display: none;
    }
        
    #menu-mobile {
        background-color: #49aac6;
        position: fixed;
        padding: 16px;
        border-radius: 16px;
        line-height: 24px;
        width: 40%;
        box-shadow: 0px 0px 8px 4px #ffffff;
        z-index: 1;
        text-align: start;
        margin: 16px 8px auto 240px;
        height: 240px;
    }

    #menu-mobile a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        font-family: 'Fira Code', monospace;
        transition: 1s all;
        cursor: pointer;
    }

    #menu-mobile a:hover {
        font-weight: bold;
        font-size: 19px;
    }

    #menu-mobile li {
        padding-bottom: 16px;
    }

    .fechar-menu {
        width: 100%;
        border: none;
        background: none;
        text-align: end;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }

    #header, #conteudo-principal, .container-rodape {
        width: 480px;
        padding: 0px;
        margin: 0px;
    }

    #container-cabecalho {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 8px 0px;
        margin: 0;
        width: auto;
        height: 100%;
    }

    .foto-perfil {
        width: 80px;
        padding: 8px 8px;
    }

    .informacoes {
        width: auto;
        align-items:flex-start;
        padding-top: 8px;
        text-align: left;
    }

    .informacoes h1 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .informacoes h2 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .email, .whatsapp, .localizacao {
        margin-bottom: 8px;
        padding: 0px;
    }

    .img-email, .img-whatsapp, .img-localizacao {
        width: 20px;
    }

    .email h3, .whatsapp h3, .localizacao h3{
        font-size: 14px;
        padding: 0px;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 16px auto;
        width: 40%;
        padding: 0px;
    }

    .carol-martins-git, .carol-martins-instagram, .carol-martins-linkedin {
        width: 24px;
    }

    .sobre-mim-texto {
        width: 100%;
    }

    .foto-sobre-mim {
        display: none;
    }

    .descomplica, .unisinos, .marques, .cursos-livres, .ducatti, .atuare, .edarcon, .panassolo, .cm-eng, .tecnicas, .comportamentais {
        width: 90%;
    }

    #caixa-textos {
        margin: auto auto 40px auto;
    }

    .icone img{
        width: 40px;
    }

    .fale-comigo p, .fale-comigo a{
        font-size: 14px;
    }

    .carol-martins-rodape h3, .carol-martins-rodape h4 {
        font-size: 12px;
    }

    #certificados {
        width: 480px;
        padding: 0px;
    }

    #certificados h1 {
        padding: 0px;
        text-align: center;
        margin: auto;
    }

    .hard-skills-certificados li, .soft-skills-certificados li {
        padding-bottom: 8px;
        position: relative;
    }

    .hard-skills, .soft-skills {
        width: 90%;
        margin: auto;
    }
}