#header {
    background: rgba(0, 0, 0, 0.8) url("img-codigos.jpg");
    background-position: center;
    background-size:cover;
    background-blend-mode: darken;
    border: none;
    height: 320px;
    width: 100%;
    margin: auto;
}

.menu-navegacao {
    position: relative;
    background: rgba(0, 0, 0, 0.8) url("img-codigos.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 40px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navegacao {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4px auto;
    width: 1280px;
}

.navegacao li, .navegacao a {
    top: 24px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    transition: 1s all;
    cursor: pointer;
    padding: 0 24px;
}

nav a:hover {
    color: #49aac6;
}

#container-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1280px;
    height: 100%;
    padding: 24px;
}

.foto {
    width: 20%;
}

.foto-perfil {
    width: 200px;
    position: relative;
    padding: 0px;
}

.informacoes {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 50%;
}

.nome-carol-martins {
    font-size: 56px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 16px;
}

.subtitulo {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 16px;
}

.informacoes-contato {
    font-size: 18px;
    font-family: 'Fira Code', monospace;
    margin-left: 16px;
    padding: 0 48px;
}

.email, .whatsapp, .localizacao {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.img-email, .img-whatsapp, .img-localizacao {
    width: 32px;
}

.redes-sociais {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items:baseline;
    padding: 96px 0px;
    width: 10%;
}

.carol-martins-git, .carol-martins-linkedin, .carol-martins-instagram {
    width: 40px;
    transition: 1s all;
    cursor: pointer;
}

.carol-martins-git:hover, .carol-martins-linkedin:hover, .carol-martins-instagram:hover {
    transform: scale(1.2);
}

#conteudo-principal {
    width: 1280px;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#sobre-mim {
    width: 90%;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    margin: 32px auto auto auto;
    align-items: center;
}

#sobre-mim h2, #experiencias h2{
    font-size: 24px;
    margin-bottom: 16px;
    text-align: end;
    font-weight: bold;
}

#sobre-mim p, .resumo-experiencias {
    font-size: 16px;
    text-align: end;
    line-height: 20px;
    margin-bottom: 40px;
}

.empower {
    font-weight: bold;
}

.foto-sobre-mim {
    width: 224px;
    margin-left: 32px;
    border-radius: 16px;
    transition: 1s;
}

.foto-sobre-mim:hover {
    opacity: 0.5;
}

#formacao {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto auto;
}

#formacao h2 {
    font-size: 24px;
    margin: auto auto 16px 16px;
    text-align: start;
    position: relative;
    font-weight: bold;
}

.descomplica, .unisinos, .marques, .cursos-livres {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 45%;
    box-shadow: 10px 10px 10px 0 #000000;
}

.descomplica h3, .unisinos h3, .marques h3, .cursos-livres h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.cursos-livres a {
    color: #ffffff;
    text-transform: uppercase;
}

.containers-formacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

#experiencias {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

.ducatti, .atuare, .edarcon, .panassolo, .cm-eng {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 45%;
    box-shadow: 10px 10px 10px 0 #000000;
}

.ducatti h3, .atuare h3, .edarcon h3, .panassolo h3, .cm-eng h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.containers-experiencias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

#habilidades {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto auto;
}

#habilidades h2 {
    font-size: 24px;
    margin: 16px;
    text-align: start;
    position: relative;
    font-weight: bold;
}

.containers-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.tecnicas, .comportamentais {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 45%;
    box-shadow: 10px 10px 10px 0 #000000;
    margin-bottom: 40px;
}

.tecnicas h3, .comportamentais h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
}

.skills:before {
    content: "• ";
}

#interesses {
    width: 90%;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto auto;
}

#interesses h2 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.interesses-pessoais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}

.interesses-pessoais img {
    width: 64px;
    transition: 1s all;
    cursor: pointer;
}

.interesses-pessoais img:hover {
    transform: scale(1.2);
}

.icone {
    border: none;
    background: none;
}

#caixa-textos {
    position: relative;
    background-color: #49aac6;
    padding: 0 16px 16px 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 60%;
    box-shadow: 10px 10px 10px 0 #000000;
    text-align: center;
    transition: 1s all;
    margin: 0 0 40px 256px;
}

.interesses-textos {
    display: none;
}

.fechar-texto {
    width: 100%;
    border: none;
    background: none;
    text-align: end;
    font-size: 8px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background: rgba(0, 0, 0, 0.8) url("img-codigos.jpg");
    background-position: center;
    background-size: auto;
    background-blend-mode: darken;
    border: none;
    height: 160px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
}

.fale-comigo p {
    font-size: 18px;
}

.fale-comigo a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-decoration: underline;
    transition: 1s all;
    cursor: pointer;
}

.fale-comigo a:hover {
    color: #49aac6;
}

.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.carol-martins-rodape h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.carol-martins-rodape h4 {
    font-size: 16px;
}

