header {
    background: rgba(0, 0, 0, 0.8) url("img/img-codigos.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    border: none;
    padding: 32px;
    height: 280px;
    width: 1280px;
}

.menu-navegacao {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.foto-perfil {
    width: 200px;
    position: absolute;
    top: 64px;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    top: 0;
}

nav li, a {
    top: 24px;
    display: inline;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    margin: 0 8px 0 8px;
    font-family: 'Fira Code', monospace;
    transition: 1s all;
    cursor: pointer;
}

nav a:hover {
    color: #49aac6;
}

.informacoes {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    top: 80px;
    left: 464px;
}

.nome-carol-martins {
    font-size: 56px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 16px;
}

.subtitulo {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 16px;
}


.informacoes-contato {
    font-size: 18px;
    font-family: 'Fira Code', monospace;
    margin-left: 16px;
}

.email, .whatsapp, .localizacao {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.img-email, .img-whatsapp, .img-localizacao {
    width: 32px;
}

.redes-sociais {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    top: 104px;
    right: 200px;
}

.carol-martins-git, .carol-martins-linkedin, .carol-martins-instagram {
    width: 40px;
    transition: 1s all;
    cursor: pointer;
}

.carol-martins-git:hover, .carol-martins-linkedin:hover, .carol-martins-instagram:hover {
    transform: scale(1.2);
}

.conteudo-principal {
    width: 1280px;
}

#sobre-mim {
    width: 960px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    margin: 32px auto auto 200px;
    align-items: center;
}

#sobre-mim h2, #experiencias h2{
    font-size: 24px;
    margin-bottom: 16px;
    text-align: end;
    font-weight: bold;
}

#sobre-mim p, .resumo-experiencias {
    font-size: 16px;
    text-align: end;
    line-height: 20px;
    margin-bottom: 40px;
}

.empower {
    font-weight: bold;
}

.foto-sobre-mim {
    width: 224px;
    margin-left: 32px;
    border-radius: 16px;
    transition: 1s;
}

.foto-sobre-mim:hover {
    opacity: 0.5;
}

#formacao {
    display: flex;
    flex-direction: column;
    width: 960px;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto 200px;
}

#formacao h2 {
    font-size: 24px;
    margin: auto auto 16px 24px;
    text-align: start;
    position: relative;
    font-weight: bold;
}

.descomplica, .unisinos, .marques, .cursos-livres {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 416px;
    box-shadow: 10px 10px 10px 0 #000000;
}

.descomplica h3, .unisinos h3, .marques h3, .cursos-livres h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.containers-formacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

#experiencias {
    width: 960px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto 40px 200px;
}

.ducatti, .atuare, .edarcon, .panassolo, .cm-eng {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 416px;
    box-shadow: 10px 10px 10px 0 #000000;
}

.ducatti h3, .atuare h3, .edarcon h3, .panassolo h3, .cm-eng h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.containers-experiencias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

#habilidades {
    display: flex;
    flex-direction: column;
    width: 960px;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto 200px;
}

#habilidades h2 {
    font-size: 24px;
    margin: 0 0 24px 24px;
    text-align: start;
    position: relative;
    font-weight: bold;
}

.containers-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.tecnicas, .comportamentais {
    background-color: #49aac6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 416px;
    box-shadow: 10px 10px 10px 0 #000000;
    margin-bottom: 40px;
}

.tecnicas h3, .comportamentais h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
}

.skills:before {
    content: "• ";
}

#interesses {
    width: 960px;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto auto 200px;;
}

#interesses h2 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.interesses-pessoais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.interesses-pessoais img {
    width: 64px;
    transition: 1s all;
    cursor: pointer;
}

.interesses-pessoais img:hover {
    transform: scale(1.2);
}

.icone {
    border: none;
    background: none;
}

.textos {
    position: relative;
    background-color: #49aac6;
    padding: 16px;
    border-radius: 16px;
    line-height: 24px;
    width: 416px;
    box-shadow: 10px 10px 10px 0 #000000;
    text-align: center;
    transition: 1s all;
}

#texto-gatinho {
    margin: auto auto 40px 40px;
}

#texto-estrelas {
    margin: auto auto 40px 128px;
}

#texto-gamer {
    margin: auto auto 40px 216px;
}

#texto-naruto {
    margin: auto auto 40px 304px;
}

#texto-planta {
    margin: auto auto 40px 392px;
}

#texto-yoga {
    margin: auto auto 40px 480px;
}

.display {
    display: block;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
} 

footer {
    background: rgba(0, 0, 0, 0.8) url("img/img-codigos.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    border: none;
    padding: 32px;
    height: 160px;
    width: 1280px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
}

.fale-comigo p {
    font-size: 18px;
}

.fale-comigo a {
    font-size: 18px;
    text-decoration: underline;
    transition: 1s all;
    cursor: pointer;
}

.fale-comigo a:hover {
    color: #49aac6;
}

.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.carol-martins-rodape h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.carol-martins-rodape h4 {
    font-size: 16px;
}

#certificados {
    width: 960px;
    font-family: 'Roboto Mono', monospace;
    margin: 32px auto 48px 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#certificados h1 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    position: relative;
    font-weight: bold;
    text-shadow: 4px 4px 2px #49aac6;
}

.hard-skills h2, .soft-skills h2{
    font-size: 20px;
    font-weight: bold;
    margin: 24px auto 24px 24px;
}

.hard-skills a, .soft-skills a {
    font-size: 16px;
    color:#000000;
    line-height: 32px;
    transition: 1s all;
    cursor: pointer;
}

.hard-skills li:before, .soft-skills li:before {
    content: "• ";
}

.hard-skills a:hover, .soft-skills a:hover {
    font-weight: bold;
    font-size: 17px;
}